---
import Page from "../layouts/Page.astro";
---

<Page title="Contacto" description="Contacto">
  <h1>Contacto</h1>
  <p>Ponte en contacto con nosotros. Próximamente formulario de contacto.</p>
</Page>
