---
import Page from "../layouts/Page.astro";
---

<Page title="Propiedades" description="Propiedades">
  <h1>Propiedades</h1>
  <p>Explora nuestras propiedades disponibles. Próximamente más detalles.</p>
</Page>
