---
import { Home, Handshake, BadgePercent } from "@lucide/astro";
---

<!-- Sección de Beneficios -->
<section
  class="w-full flex flex-wrap justify-center gap-6 px-4 py-40 relative bg-fixed bg-center bg-cover mt-20"
  style={{
    backgroundImage: "url('https://images.unsplash.com/photo-1512917774080-9991f1c4c750?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')",
  }}
>
  <!-- Capa oscura sobre la imagen de fondo -->
  <div class="absolute inset-0 w-full h-full bg-black/50 z-0"></div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-7xl mx-auto relative z-10">
    <div class="flex flex-col items-center bg-white/50 p-5 rounded-lg">
      <Home class="w-14 h-14 mb-4 bg-white text-primary rounded-full p-2" />
      <h3 class="text-2xl font-bold mb-2">Casas seleccionadas a mano</h3>
      <p class="text-base text-gray-800">
        Cada casa es seleccionada a mano. Todos son lugares excepcionales. Algunos son elegantes, otros rústicos, algunos vastos, algunos acogedores. Hay algo para todos. ¿Una cosa que todos tienen en común? Prometen hacer que su estadía sea especial e inolvidable.
      </p>
    </div>
    <div class="flex flex-col items-center bg-white/50 p-5 rounded-lg">
      <Handshake class="w-14 h-14 mb-4 bg-white text-primary rounded-full p-2" />
      <h3 class="text-2xl font-bold mb-2">Compra directa</h3>
      <p class="text-base text-gray-800">
        Simplemente encuentre una casa que le guste y luego comuníquese directamente con el propietario a través de nuestro formulario en línea. Mientras planifica su estadía, aproveche la experiencia local de su anfitrión para ayudar a crear una reunión inolvidable.
      </p>
    </div>
    <div class="flex flex-col items-center bg-white/50 p-5 rounded-lg">
      <BadgePercent class="w-14 h-14 mb-4 bg-white text-primary rounded-full p-2" />
      <h3 class="text-2xl font-bold mb-2">Sin Comisión</h3>
      <p class="text-base text-gray-800">
        TuTechoAhora no cobra comisiones a las propiedades, solo una tarifa anual fija. Por eso, las casas valoran recibir reservas a través de nuestra plataforma. Aunque puedes contactar directamente a las propiedades por otros medios, te recomendamos usar el formulario de contacto en cada anuncio. De esta manera, podremos ayudarte en caso ocurra algún inconveniente.
      </p>
    </div>
  </div>
</section>
