---
import logoSecundario from "../assets/logoSecundario.png";
const today = new Date();
---

<footer class="bg-primary text-white py-20">
	<div class="container mx-auto max-w-7xl px-4">
		<!-- Logo y horarios -->
		<div
			class="grid md:grid-cols-3 gap-8 pb-12 border-b border-white"
			data-aos="fade-up"
		>
			<div class="flex items-center gap-2 mb-6">
				<img src={logoSecundario.src} alt="Logo" class="h-24" />
			</div>

			<!-- Enlaces -->
			<div>
				<h3 class="text-xl font-bold mb-4 underline">Secciones</h3>
				<ul class="space-y-2 text-lg">
					<li>
						<a href="/" class="text-white">Inicio</a>
					</li>
					<li>
						<a href="/nosotros" class="text-white">Nosotros</a>
					</li>
					<li>
						<a href="/propiedades" class="text-white">Propiedades</a>
					</li>
					<li>
						<a href="/contacto" class="text-white">Contacto</a>
					</li>
				</ul>
			</div>

			<!-- Redes sociales y copyright -->
			<div class="flex flex-col justify-end h-full" data-aos="fade-up">
				<div class="flex gap-4 mb-4">
					<a
						href="https://www.facebook.com"
						target="_blank"
						class="text-white hover:text-secondary"
					>
						<img
							src="https://img.icons8.com/?size=48&id=118497&format=png"
							alt="Facebook"
							class="w-10 h-10"
						/>
					</a>

					<a
						href="https://www.instagram.com"
						target="_blank"
						class="text-white hover:text-secondary"
					>
						<img
							src="https://img.icons8.com/?size=48&id=16713&format=png"
							alt="Instagram"
							class="w-10 h-10"
						/>
					</a>
					<a
						href="https://www.tiktok.com"
						target="_blank"
						class="text-white hover:text-secondary"
					>
						<img
							src="https://img.icons8.com/?size=48&id=118640&format=png"
							alt="Tiktok"
							class="w-10 h-10"
						/>
					</a>
				</div>
				<p class="text-white text-lg">
					©{today.getFullYear()} TuTechoAhora. Todos los derechos reservados.
				</p>
			</div>
		</div>
		<div class="text-center text-lg mt-10 text-white">
			Desarrollado por <a
				href="https://groblesolutions.netlify.app/"
				class="text-black underline">Grobles Solutions.</a
			>
		</div>
	</div>
</footer>
