---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import { HomeIcon } from "@lucide/astro";
import { Users } from "@lucide/astro";
import { MailIcon } from "@lucide/astro";
---

<header>
	<nav class="flex justify-between items-center">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">
				<HomeIcon />
				Inicio</HeaderLink
			>
			<HeaderLink href="/nosotros">
				<Users />
				Nosotros</HeaderLink
			>
			<HeaderLink href="/propiedades">Propiedades</HeaderLink>
			<HeaderLink href="/contacto">
				<MailIcon />
				Contacto</HeaderLink
			>
		</div>
		<div></div>
	</nav>
</header>
